body {
    background: rgb(59, 59, 58);
    color: #fff;
}

.homeIcon{
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    left: -40px;
    top: -70px;
}

h1{
    font-size: 40px;
    font-family: Inter,SF Pro Text,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Microsoft YaHei;
    margin-top: 100px;
    margin-bottom: 100px;
}

.description{
    font-family: Inter,SF Pro Text,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Microsoft YaHei;
    font-weight: bold;
}


.bodyClass{
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.contents{
    margin-top: 100px;
    display: flex;    
    flex-wrap: wrap;   
    justify-content: space-between;
    margin-top: 16px;
}

.content{
    width: 32%;       
    border: 1px solid White;
    text-align: center;
    margin-bottom: 60px;
}

.img{
    margin-right: 10px;
    width: 300px;
    height: 300px;
    border: 1px solid #ddd;
    object-fit: cover; 
}

.item a :hover{
    opacity: .5;
    border:solid rgb(0, 0, 0) 1px ;
}





    



