body{
    font-family: Inter,SF Pro Text,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,PingFang SC,Microsoft YaHei;
    background: rgb(59, 59, 58);
    color: #fff;
}

h1{
    text-align: center;
    padding-top: 15px;
}

form{
    width: 300px;
    margin: auto;
}

form :hover{
    opacity: 0.5;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 15px;
}

form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: solid grey 1px;
    border-radius: 6px;
    outline: none;
}

input[type="submit"]{
width: 320px;
height: 35px;
margin-top: 20px;
border: none;
font-size: 18px;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.p2{
    text-align: center;
    font-size: 15px;
    margin-top: -20px;
}

img{
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    left: -40px;
    top: 20px;
}

a{
    color: #d4d4d4;
}

    
    



